
<!DOCTYPE html>
<html>
  <head>
    <title>Abhishek Biradar | Fullstack Developer &amp; Data Analyst
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="canonical" href="https://mattfarley.ca">
    <meta property="og:site_name" content="Matt Farley">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Matt Farley | Designer, Frontend Developer &amp; Mentor">
    <meta property="og:description" content="I design and code beautifully simple things, and I love what I do.">
    <meta property="og:image:secure_url" content="https://mattfarley.ca/static/img/mf-og-brand.png">
    <meta property="og:url" content="https://mattfarley.ca">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@farleymatters">
    <meta name="twitter:creator" content="@farleymatters">
    <meta name="twitter:title" content="Matt Farley | Designer, Frontend Developer &amp; Mentor">
    <meta name="twitter:description" content="I design and code beautifully simple things, and I love what I do.">
    <meta name="twitter:image" content="https://mattfarley.ca/static/img/mf-og-brand.png">
    <meta name="twitter:image:alt" content="Designer and developer tool illustrations">
    <link href="/static/img/favicon-32.png" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9bdc906322.js"></script>
    <script async="" src="https://cdn.splitbee.io/sb.js"></script>
  </head>
  <body>
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-menu is-shadowless" id="navMenu">
          <div class="navbar-start"></div>
            <div class="navbar-item"><a class="button is-primary is-outlined is-rounded has-text-weight-normal" href="{{ url_for('contact') }}">Say Hello </a></div>
          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-white has-text-centered">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column">
              <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">A Fullstack Developer, Data Scientist &amp; Student</h1>
              <h2 class="subtitle is-size-4-tablet">I design and code beautifully simple things, and I love what I do.</h2><img class="avatar" src="/static/img/mf-avatar.svg">
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <div class="container"><img class="is-bottom" src="/static/img/hero-devices.svg"></div>
      </div>
    </section>
    <section class="section is-medium is-primary has-text-centered is-long">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-three-fifths">
            <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Hi, I’m Abhisehk. Nice to meet you.</h1>
            <h2 class="subtitle is-size-5-desktop has-text-weight-normal">
                <p>I am a Fullstack Developer, who is also a Data Analyst.</p>
                <p>I started my coding journey 1 year ago, learned my first language which is Python. After that I learned a little basics of HTML, CSS and Bootstrap and after learning Flask I started developing some Projects.</p>
                <p>Speaking about Data Analysis I am new at it working on it, getting better day after day.</p>
            </h2>
          </div>
        </div>
      </div>
    </section>
    <section class="section skills has-text-centered">
      <div class="container is-narrow">
        <div class="box">
          <div class="content">
            <div class="columns is-centered">
              <div class="column">
                <span class="fa-stack fa-lg mt-3 mb-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                    <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
                  </svg>
                </span>
                <h1 class="title is-size-4 is-spaced">Backend development</h1>
                <p>I primarily use Python as my preffered backend language and there are various tools that I can use to enhance the capbilities of whata I can do wiht Python.</p>
                <p class="list-title has-text-primary has-text-weight-normal">Dev Tools:</p>
                <ul>
                  <li>Python 3</li>
                  <li>Flask</li>
                  <li>Bootstrap</li>
                  <li>Web Scraping</li>
                  <li>Beautiful Soup</li>
                  <li>Selenium Web Driver</li>
                  <li>Request</li>
                  <li>WTForms</li>
                  <li>Tkinter</li>
                  <li>Pycharm</li>
                </ul>
              </div>
              <div class="column"><span class="fa-stack fa-2x mb-1"><i class="fa-light fa-square-terminal fa-stack-1x has-text-dark"></i></span>
                <h1 class="title is-size-4 is-spaced">Frontend Development</h1>
                <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
                <p class="list-title has-text-primary has-text-weight-normal">Dev Tools:</p>
                <ul>
                  <li>Vs code</li>
                  <li>HTML 5</li>
                  <li>Bootstrap</li>
                  <li>CSS 3</li>
                  <li>Github</li>
                  <li>Terminal</li>
                  <li>Bash Command Line</li>
                  <li>Vercel</li>
                </ul>
              </div>
              <div class="column">
                <span class="fa-stack fa-2x mt-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
                  </svg>
                </span>
                <h1 class="title is-size-4 is-spaced">Data Analysis</h1>
                <p>I like doing complex Data Analysis, to get a idea about the relations between different aspects of data.</p>
                <p class="list-title has-text-primary has-text-weight-normal">Dev Tools:</p>
                <ul>
                  <li>Pandas</li>
                  <li>NumPy</li>
                  <li>Matplotlib</li>
                  <li>Seaborn</li>
                  <li>Scikit-learn</li>
                  <li>SciPy</li>
                  <li>Plotly</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section projects is-medium is-white has-text-centered">
      <div class="container is-narrow">
        <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">My Recent Work</h1>
        <h2 class="subtitle is-size-5-desktop">Here is design project I've worked on <a class="has-text-weight-normal" href="{{ url_for('contact') }}">Email me</a>.</h2>
        <div class="project-grid">
          <div class="columns is-multiline is-mobile">
            <div class="column is-12-mobile is-half-tablet is-one-third-desktop" style="margin: auto;">
              <figure class="image is-3by2 "><img class="project-thumb" src="/static/img/project-img.png">
                <figcaption>
                  <h1 class="title is-size-5 is-size-4-widescreen">My personal bolg website, where I write blogs  (The website takes time to load)</h1><a class="button is-primary is-outlined is-rounded" href="https://my-blog-website-tdj1.onrender.com/" target="_blank"><span>Visit Website</span><span class="icon"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> --></span></a>
                </figcaption>
                <div class="overlay"></div>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="border-top mt-5">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7 mt-4">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="https://github.com/Aabi0207">
                                <span class="fa-stack fa-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://in.linkedin.com/in/abhishek-biradar-915404281">
                                <span class="fa-stack fa-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                      <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                                    </svg>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="small text-center text-muted fst-italic mt-3">Copyright &copy; Abhishek Biradar 2023</div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
